<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" throwExceptions="false"
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>
    <target name="as" 
            xsi:type="File" 
            fileName="${basedir}/../Stream88_Logs/Stream88-${date:MM-dd}.log" 
            layout="${date:format=yyyy/MM/dd HH\:mm\:ss} ${level} ${logger}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            archiveFileName="${basedir}/../Stream88_ArchivedLogs\Stream88-${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="as" />
  </rules>
</nlog>